.product-info {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-between;
}
.product-left {
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.product-left p {
    width: 20rem;
    line-height: 2rem;
}
.product-mid {
    width: 33vw;
}
.product-right {
    /* margin-left: 5rem; */
    width: 33vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
/* COLOR SELECTOR */

.color-select {
    display: flex;
}
.color-select div {
    padding: .5rem 1rem .5rem 1.5rem;
    border-top: .01rem solid black;
    border-bottom: .01rem solid black;
    border-right: .01rem solid black;
    width: 4.1rem;
}
.color {
    border-left: .01rem solid black
}
.color-black {
    background-color: black;
    color: white;
}
.color-beige {
    background-color: beige;
}
.color-black:hover, .color-beige:hover {
    cursor: pointer;
}

/* QUANTITY SELECTOR */

.quantity-select {
    display: flex;
}
.minus, .plus {
    padding: .5rem 1rem .5rem 1rem;
    border: .01rem solid black;
    border-radius: 0;
    width: 2.5rem;
    background-color: white;
    
}
.minus:hover, .plus:hover {
    cursor: pointer;
}
.minus:active, .plus:active {
    background-color: black;
    color: white;
}
.quantity-select div {
    padding: .5rem 1rem .5rem 1rem;
    border-top: .01rem solid black;
    border-bottom: .01rem solid black;
    width: 13rem;
    text-align: center;
}

/* SIZE SELECTOR */

.size-btn {
    display: flex;
    width: 17.8rem;
    border: .01rem solid black;
    padding: .5rem 1rem .5rem 1rem;
    justify-content: space-between;
}
.size-btn:hover {
    cursor: pointer;
}
.size-btn:active {
        background-color: black;
    color: white;
}
.sizeDropdown {
    position: relative;
}
.sizeDropdown ul{
    z-index: 9;
    position: absolute;
    list-style-type: none;
    padding-left: 0rem;
    margin-top: 0rem;
    width: 19.99rem;
    margin-left: -9.98rem;
    
}
.sizeDropdown ul li {
    border-bottom: .01rem solid black;
    border-right: .01rem solid black;
    border-left: .01rem solid black;
    padding: .5rem 0rem .5rem 0rem;
    background-color: white;
    text-align: center;
    
}
.sizeDropdown ul li:hover {
    color: white;
    background-color: black;
    cursor: pointer;
}
.dropdown-bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/* ADD TO CART BUTTON  */
.cart-btn {
    border: .01rem solid black;
    padding: .5rem 1rem .5rem 1rem;
    width: 19.9rem;
    background-color: black;
    color: white;
}
.cart-btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}
.cart-btn:active {
    background-color: black;
    color: white;
}
.price {
    width: 20rem;
    /* align-self: start;
    margin-left: 2rem; */
}
.whatsize {
    width: 20rem;
    /* align-self: start;
    margin-left: 2rem; */
}